# Insert Python dataframe into Azure SQL table

## Import the libraries

In [1]:
import pyodbc
import pandas

## Open the connection

In [19]:
import pyodbc

DRIVER_NAME = 'ODBC Driver 17 for SQL Server'
SERVER_NAME = r'LAPTOP-D1GHCN4R\POWERBIREPORT'
DATABASE_NAME = 'AdventureWorksLT2014'
USERNAME = 'pbi'
PASSWORD = '123'

connection_string = f"""
DRIVER={{{DRIVER_NAME}}};
SERVER={SERVER_NAME};
DATABASE={DATABASE_NAME};
UID={USERNAME};
PWD={PASSWORD};
"""

conn = pyodbc.connect(connection_string)
print(conn)

<pyodbc.Connection object at 0x000001BD38B66DB0>

## Create a cursor object

In [34]:
cursor = conn.cursor()

## Create a table

In [10]:
# Read data
cursor.execute("""SELECT top 5*
  FROM [AdventureWorksLT2014].[SalesLT].[Address]""")
rows = cursor.fetchall()

# Print data
for row in rows:
    print(row)

(9, '8713 Yosemite Ct.', None, 'Bothell', 'Washington', 'United States', '98011', '268AF621-76D7-4C78-9441-144FD139821A', datetime.datetime(2002, 7, 1, 0, 0))
(11, '1318 Lasalle Street', None, 'Bothell', 'Washington', 'United States', '98011', '981B3303-ACA2-49C7-9A96-FB670785B269', datetime.datetime(2003, 4, 1, 0, 0))
(25, '9178 Jumping St.', None, 'Dallas', 'Texas', 'United States', '75201', 'C8DF3BD9-48F0-4654-A8DD-14A67A84D3C6', datetime.datetime(2002, 9, 1, 0, 0))
(28, '9228 Via Del Sol', None, 'Phoenix', 'Arizona', 'United States', '85004', '12AE5EE1-FC3E-468B-9B92-3B970B169774', datetime.datetime(2001, 9, 1, 0, 0))
(32, '26910 Indela Road', None, 'Montreal', 'Quebec', 'Canada', 'H1Y 2H5', '84A95F62-3AE8-4E7E-BBD5-5A6F00CD982D', datetime.datetime(2002, 8, 1, 0, 0))

In [35]:

# SQL commands to drop the table if it exists and then create it
try:
    # Drop the previous table if it exists
    cursor.execute("DROP TABLE IF EXISTS [dbo].[movies]")

    # Create the table
    cursor.execute(
        """
        CREATE TABLE [dbo].[movies] (
            movie_id INT IDENTITY(1,1) PRIMARY KEY,
            movie_title VARCHAR(255) NOT NULL,
            released_year INT,
            runtime INT NOT NULL,
            genre VARCHAR(255),
            rating INT NOT NULL,
            director VARCHAR(255),
            star1 VARCHAR(255),
            star2 VARCHAR(255),
            number_of_votes INT,
            gross INT
        );
        """
    )

    # Commit the transaction
    conn.commit()
    print("Table created successfully.")

except Exception as e:
    print("Error:", e)

finally:
    # Close the cursor and connection
    # cursor.close()
    # conn.close()
    # print("Connection closed.")
    print("Connection.")

Table created successfully.
Connection.

## Open the file

In [23]:
fpath = "movies.CSV"
df = pandas.read_csv(fpath, delimiter=";", encoding="utf8")

In [24]:
df

,Title,Released_Year,Runtime,Genre,Rating,Director,Star1,Star2,Number_of_Votes,Gross
0,The Dark Knight,2008,152 min,"Action, Crime, Drama",90,Christopher Nolan,Christian Bale,Heath Ledger,2303232,"534,858,444"
1,The Lord of the Rings: The Return of the King,2003,201 min,"Action, Adventure, Drama",89,Peter Jackson,Elijah Wood,Viggo Mortensen,1642758,"377,845,905"
2,Inception,2010,148 min,"Action, Adventure, Sci-Fi",88,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,2067042,"292,576,195"
3,The Lord of the Rings: The Fellowship of the Ring,2001,178 min,"Action, Adventure, Drama",88,Peter Jackson,Elijah Wood,Ian McKellen,1661481,"315,544,750"
4,The Lord of the Rings: The Two Towers,2002,179 min,"Action, Adventure, Drama",87,Peter Jackson,Elijah Wood,Ian McKellen,1485555,"342,551,365"
...,...,...,...,...,...,...,...,...,...,...
296,28 Days Later...,2002,113 min,"Drama, Horror, Sci-Fi",76,Danny Boyle,Cillian Murphy,Naomie Harris,376853,"45,064,915"
297,The Royal Tenenbaums,2001,110 min,"Comedy, Drama",76,Wes Anderson,Gene Hackman,Gwyneth Paltrow,266842,"52,364,010"
298,Enemy at the Gates,2001,131 min,"Drama, History, War",76,Jean-Jacques Annaud,Jude Law,Ed Harris,243729,"51,401,758"
299,Minority Report,2002,145 min,"Action, Crime, Mystery",76,Steven Spielberg,Tom Cruise,Colin Farrell,508417,"132,072,926"
300,American Psycho,2000,101 min,"Comedy, Crime, Drama",76,Mary Harron,Christian Bale,Justin Theroux,490062,"15,070,285"

## Transform columns and change data types

### Runtime

In [25]:
def convert_runtime(x):
    """
    Convert the string value to int.
    - Remove "min".
    - Convert to int.
    """
    return int(x.split()[0])

In [26]:
df['Runtime'] = df['Runtime'].apply(convert_runtime)

In [27]:
df['Runtime']

0      152
1      201
2      148
3      178
4      179
      ...
296    113
297    110
298    131
299    145
300    101
Name: Runtime, Length: 301, dtype: int64

### Genre

In [28]:
df['Genre'] = df['Genre'].apply(lambda x: x.split(', ')[0])

### Gross

In [29]:
def convert_gross(x):
    """
    Convert the string value to int.
    - Remove commas.
    - Convert to int.
    """
    return int(x.replace(',', ''))

In [30]:
df['Gross'] = df['Gross'].apply(convert_gross)

In [31]:
df

,Title,Released_Year,Runtime,Genre,Rating,Director,Star1,Star2,Number_of_Votes,Gross
0,The Dark Knight,2008,152,Action,90,Christopher Nolan,Christian Bale,Heath Ledger,2303232,534858444
1,The Lord of the Rings: The Return of the King,2003,201,Action,89,Peter Jackson,Elijah Wood,Viggo Mortensen,1642758,377845905
2,Inception,2010,148,Action,88,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,2067042,292576195
3,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,88,Peter Jackson,Elijah Wood,Ian McKellen,1661481,315544750
4,The Lord of the Rings: The Two Towers,2002,179,Action,87,Peter Jackson,Elijah Wood,Ian McKellen,1485555,342551365
...,...,...,...,...,...,...,...,...,...,...
296,28 Days Later...,2002,113,Drama,76,Danny Boyle,Cillian Murphy,Naomie Harris,376853,45064915
297,The Royal Tenenbaums,2001,110,Comedy,76,Wes Anderson,Gene Hackman,Gwyneth Paltrow,266842,52364010
298,Enemy at the Gates,2001,131,Drama,76,Jean-Jacques Annaud,Jude Law,Ed Harris,243729,51401758
299,Minority Report,2002,145,Action,76,Steven Spielberg,Tom Cruise,Colin Farrell,508417,132072926
300,American Psycho,2000,101,Comedy,76,Mary Harron,Christian Bale,Justin Theroux,490062,15070285

In [32]:
df.dtypes

Title              object
Released_Year       int64
Runtime             int64
Genre              object
Rating              int64
Director           object
Star1              object
Star2              object
Number_of_Votes     int64
Gross               int64
dtype: object

## Insert data in the *movies* table

In [36]:
# Prepare the SQL statement
insert_query = """
INSERT INTO [dbo].[movies]
(movie_title, released_year, runtime, genre, rating, director, star1, star2, number_of_votes, gross)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""

# Prepare data for bulk insert
data_to_insert = [
    (row['Title'], row['Released_Year'], row['Runtime'], row['Genre'], row['Rating'],
     row['Director'], row['Star1'], row['Star2'], row['Number_of_Votes'], row['Gross'])
    for _, row in df.iterrows()
]

# Enable fast_executemany for better performance
cursor.fast_executemany = True

# Execute bulk insert
cursor.executemany(insert_query, data_to_insert)

# Commit the transaction
conn.commit()

print(f"Successfully inserted {len(data_to_insert)} rows.")

Successfully inserted 301 rows.

## Commit the changes

In [37]:
conn.commit()

## Read data

In [38]:
# Read data
cursor.execute("SELECT "
    "movie_id, movie_title "
    "FROM [dbo].[movies]")
rows = cursor.fetchall()

# Print data
for row in rows:
  print(row)

(1, 'The Dark Knight')
(2, 'The Lord of the Rings: The Return of the King')
(3, 'Inception')
(4, 'The Lord of the Rings: The Fellowship of the Ring')
(5, 'The Lord of the Rings: The Two Towers')
(6, 'Interstellar')
(7, 'Joker')
(8, 'Whiplash')
(9, 'The Intouchables')
(10, 'The Prestige')
(11, 'The Departed')
(12, 'The Pianist')
(13, 'Gladiator')
(14, 'Spider-Man: Into the Spider-Verse')
(15, 'Avengers: Endgame')
(16, 'Avengers: Infinity War')
(17, 'Coco')
(18, 'Django Unchained')
(19, 'The Dark Knight Rises')
(20, '3 Idiots')
(21, 'Taare Zameen Par')
(22, 'WALL·E')
(23, 'The Lives of Others')
(24, 'Memento')
(25, '1917')
(26, 'Amelie')
(27, 'Snatch')
(28, 'Requiem for a Dream')
(29, 'Green Book')
(30, 'Drishyam')
(31, 'Queen')
(32, 'Warrior')
(33, 'Shutter Island')
(34, 'Up')
(35, 'The Wolf of Wall Street')
(36, 'Chak De! India')
(37, 'There Will Be Blood')
(38, "Pan's Labyrinth")
(39, 'Toy Story 3')
(40, 'V for Vendetta')
(41, 'Rang De Basanti')
(42, 'Black')
(43, 'Batman Begins')
(44, 'Swades: We, the People')
(45, 'Der Untergang')
(46, 'Hauru no ugoku shiro')
(47, 'A Beautiful Mind')
(48, 'Mommy')
(49, 'Haider')
(50, 'Logan')
(51, 'Room')
(52, 'PK')
(53, 'OMG: Oh My God!')
(54, 'The Grand Budapest Hotel')
(55, 'Gone Girl')
(56, 'Inside Out')
(57, 'Barfi!')
(58, '12 Years a Slave')
(59, 'Rush')
(60, 'Ford v Ferrari')
(61, 'Spotlight')
(62, 'Song of the Sea')
(63, 'Prisoners')
(64, 'Mad Max: Fury Road')
(65, 'Gran Torino')
(66, 'Harry Potter and the Deathly Hallows: Part 2')
(67, 'How to Train Your Dragon')
(68, 'Into the Wild')
(69, 'No Country for Old Men')
(70, 'Lage Raho Munna Bhai')
(71, 'Million Dollar Baby')
(72, 'Finding Nemo')
(73, 'Catch Me If You Can')
(74, 'Monsters, Inc.')
(75, 'Lagaan: Once Upon a Time in India')
(76, 'La La Land')
(77, 'Lion')
(78, 'The Martian')
(79, 'Wonder')
(80, 'Gully Boy')
(81, 'Special Chabbis')
(82, 'Short Term 12')
(83, 'Serbuan maut 2: Berandal')
(84, 'Guardians of the Galaxy')
(85, 'Blade Runner 2049')
(86, 'Her')
(87, 'Bohemian Rhapsody')
(88, 'The Perks of Being a Wallflower')
(89, "The King's Speech")
(90, 'The Help')
(91, 'Deadpool')
(92, 'Darbareye Elly')
(93, 'Dev.D')
(94, 'My Name Is Khan')
(95, 'Slumdog Millionaire')
(96, 'Black Swan')
(97, 'The Avengers')
(98, 'Persepolis')
(99, 'The Pursuit of Happyness')
(100, 'Blood Diamond')
(101, 'Sin City')
(102, 'Le scaphandre et le papillon')
(103, 'Ratatouille')
(104, 'Casino Royale')
(105, 'Pirates of the Caribbean: The Curse of the Black Pearl')
(106, 'Big Fish')
(107, 'The Incredibles')
(108, 'Dogville')
(109, 'Donnie Darko')
(110, 'Knives Out')
(111, 'Marriage Story')
(112, 'Call Me by Your Name')
(113, 'I, Daniel Blake')
(114, 'Isle of Dogs')
(115, 'Hunt for the Wilderpeople')
(116, 'Captain Fantastic')
(117, 'Sing Street')
(118, 'Thor: Ragnarok')
(119, 'Nightcrawler')
(120, 'Jojo Rabbit')
(121, 'Arrival')
(122, 'Star Wars: Episode VII - The Force Awakens')
(123, 'Before Midnight')
(124, 'X-Men: Days of Future Past')
(125, "Bir Zamanlar Anadolu'da")
(126, 'Edge of Tomorrow')
(127, 'Amour')
(128, 'The Irishman')
(129, 'Moon')
(130, 'The Wrestler')
(131, 'Jab We Met')
(132, 'Boyhood')
(133, 'Star Trek')
(134, 'In Bruges')
(135, 'Letters from Iwo Jima')
(136, 'The Fall')
(137, 'Life of Pi')
(138, 'Fantastic Mr. Fox')
(139, 'Iron Man')
(140, 'Shaun of the Dead')
(141, 'Mystic River')
(142, "No Man's Land")
(143, 'Almost Famous')
(144, 'Mulholland Dr.')
(145, 'Forushande')
(146, 'Hidden Figures')
(147, 'Paddington 2')
(148, 'Kubo and the Two Strings')
(149, 'M.S. Dhoni: The Untold Story')
(150, 'Manchester by the Sea')
(151, 'Rogue One')
(152, 'Captain America: Civil War')
(153, 'The Hateful Eight')
(154, 'Little Women')
(155, 'Loving Vincent')
(156, 'The Lunchbox')
(157, 'Vicky Donor')
(158, 'Big Hero 6')
(159, 'About Time')
(160, 'English Vinglish')
(161, 'Kaze tachinu')
(162, 'Toy Story 4')
(163, 'La migliore offerta')
(164, 'Moonrise Kingdom')
(165, 'How to Train Your Dragon 2')
(166, 'The Big Short')
(167, 'The Girl with the Dragon Tattoo')
(168, 'Captain Phillips')
(169, 'The Hobbit: The Desolation of Smaug')
(170, 'Das weiße Band - Eine deutsche Kindergeschichte')
(171, 'Män som hatar kvinnor')
(172, 'The Fighter')
(173, 'Taken')
(174, 'The Boy in the Striped Pyjamas')
(175, 'The Hobbit: An Unexpected Journey')
(176, 'Atonement')
(177, 'Drive')
(178, 'American Gangster')
(179, 'Avatar')
(180, 'Mr. Nobody')
(181, 'Apocalypto')
(182, 'Little Miss Sunshine')
(183, 'Hot Fuzz')
(184, 'The Curious Case of Benjamin Button')
(185, 'Pride & Prejudice')
(186, "The World's Fastest Indian")
(187, 'Serenity')
(188, 'Walk the Line')
(189, 'The Notebook')
(190, 'Diarios de motocicleta')
(191, 'Lilja 4-ever')
(192, 'Les triplettes de Belleville')
(193, 'The Count of Monte Cristo')
(194, 'Waking Life')
(195, 'Remember the Titans')
(196, 'Wo hu cang long')
(197, 'Shrek')
(198, "God's Own Country")
(199, 'Deadpool 2')
(200, 'Wind River')
(201, 'Get Out')
(202, 'Mission: Impossible - Fallout')
(203, 'En man som heter Ove')
(204, 'What We Do in the Shadows')
(205, 'The Theory of Everything')
(206, 'Kingsman: The Secret Service')
(207, 'The Fault in Our Stars')
(208, 'Me and Earl and the Dying Girl')
(209, 'The Broken Circle Breakdown')
(210, 'Captain America: The Winter Soldier')
(211, 'Rockstar')
(212, 'Nebraska')
(213, 'Wreck-It Ralph')
(214, 'Le Petit Prince')
(215, 'Detachment')
(216, 'Midnight in Paris')
(217, 'The Lego Movie')
(218, 'Star Trek Into Darkness')
(219, 'Beasts of No Nation')
(220, 'The Social Network')
(221, 'X: First Class')
(222, 'The Hangover')
(223, 'Skyfall')
(224, 'Silver Linings Playbook')
(225, 'Argo')
(226, '(500) Days of Summer')
(227, 'Harry Potter and the Deathly Hallows: Part 1')
(228, 'Gake no ue no Ponyo')
(229, 'Frost/Nixon')
(230, 'Changeling')
(231, 'Flipped')
(232, 'This Is England')
(233, 'Ex Machina')
(234, 'Efter brylluppet')
(235, 'The Last King of Scotland')
(236, 'Zodiac')
(237, 'Lost in Translation')
(238, 'Harry Potter and the Goblet of Fire')
(239, 'Man on Fire')
(240, 'Coraline')
(241, 'The Last Samurai')
(242, 'The Magdalene Sisters')
(243, 'In America')
(244, 'I Am Sam')
(245, 'Adaptation.')
(246, 'Black Hawk Down')
(247, 'Road to Perdition')
(248, 'Das Experiment')
(249, 'Billy Elliot')
(250, 'Hedwig and the Angry Inch')
(251, "Ocean's Eleven")
(252, 'Vampire Hunter D: Bloodlust')
(253, 'O Brother, Where Art Thou?')
(254, 'Training Day')
(255, 'Searching')
(256, 'Once Upon a Time... in Hollywood')
(257, 'The Florida Project')
(258, 'Gifted')
(259, 'The Peanut Butter Falcon')
(260, 'Guardians of the Galaxy Vol. 2')
(261, 'Baby Driver')
(262, 'Only the Brave')
(263, 'Bridge of Spies')
(264, 'Incredibles 2')
(265, 'Moana')
(266, 'Hell or High Water')
(267, 'Philomena')
(268, 'Dawn of the Planet of the Apes')
(269, 'A Star Is Born')
(270, 'Despicable Me')
(271, '50/50')
(272, 'Sherlock Holmes')
(273, 'The Blind Side')
(274, 'The Visitor')
(275, 'Seven Pounds')
(276, 'Eastern Promises')
(277, 'Stardust')
(278, 'The Secret of Kells')
(279, 'Inside Man')
(280, 'Gone Baby Gone')
(281, 'La Vie En Rose')
(282, 'Huo Yuan Jia')
(283, 'The Illusionist')
(284, "Dead Man's Shoes")
(285, 'Harry Potter and the Half-Blood Prince')
(286, '300')
(287, 'Match Point')
(288, 'Watchmen')
(289, 'Lord of War')
(290, 'Saw')
(291, 'Synecdoche, New York')
(292, 'Mysterious Skin')
(293, 'The Station Agent')
(294, 'Finding Neverland')
(295, '25th Hour')
(296, 'The Butterfly Effect')
(297, '28 Days Later...')
(298, 'The Royal Tenenbaums')
(299, 'Enemy at the Gates')
(300, 'Minority Report')
(301, 'American Psycho')

## Close the connection

In [39]:
cursor.close()
conn.close()