# Manipulate data in Azure SQL Database using Python and Jupyter Notebook

## Import the library

In [1]:
import pyodbc

## Open the connection

In [2]:
import pyodbc

DRIVER_NAME = 'ODBC Driver 17 for SQL Server'
SERVER_NAME = r'LAPTOP-D1GHCN4R\POWERBIREPORT'
DATABASE_NAME = 'AdventureWorksLT2014'
USERNAME = 'pbi'
PASSWORD = '123'

connection_string = f"""
DRIVER={{{DRIVER_NAME}}};
SERVER={SERVER_NAME};
DATABASE={DATABASE_NAME};
UID={USERNAME};
PWD={PASSWORD};
"""

conn = pyodbc.connect(connection_string)
print(conn)

<pyodbc.Connection object at 0x00000250BD966E80>

## Create a cursor object

In [3]:
cursor = conn.cursor()

## Insert a new movie

In [4]:
cursor.execute("INSERT INTO [dbo].[movies] "
    "(movie_title, released_year, runtime, genre, rating, director, "
    "star1, star2, number_of_votes, gross) "
    "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", 
    ("The Imitation Game", 2014, 114, "Biography", 80, 
    "Morten Tyldum", "Benedict Cumberbatch", "Keira Knightley", 
    685201, 91125683))

## Commit the changes

In [5]:
conn.commit()

## Read data

In [6]:
# Read data
cursor.execute("SELECT "
    "movie_id, movie_title, director "
    "FROM [dbo].[movies]")
rows = cursor.fetchall()

# Print data
for row in rows:
    print(row)

(1, 'The Dark Knight', 'Christopher Nolan')
(2, 'The Lord of the Rings: The Return of the King', 'Peter Jackson')
(3, 'Inception', 'Christopher Nolan')
(4, 'The Lord of the Rings: The Fellowship of the Ring', 'Peter Jackson')
(5, 'The Lord of the Rings: The Two Towers', 'Peter Jackson')
(6, 'Interstellar', 'Christopher Nolan')
(7, 'Joker', 'Todd Phillips')
(8, 'Whiplash', 'Damien Chazelle')
(9, 'The Intouchables', 'Olivier Nakache')
(10, 'The Prestige', 'Christopher Nolan')
(11, 'The Departed', 'Martin Scorsese')
(12, 'The Pianist', 'Roman Polanski')
(13, 'Gladiator', 'Ridley Scott')
(14, 'Spider-Man: Into the Spider-Verse', 'Bob Persichetti')
(15, 'Avengers: Endgame', 'Anthony Russo')
(16, 'Avengers: Infinity War', 'Anthony Russo')
(17, 'Coco', 'Lee Unkrich')
(18, 'Django Unchained', 'Quentin Tarantino')
(19, 'The Dark Knight Rises', 'Christopher Nolan')
(20, '3 Idiots', 'Rajkumar Hirani')
(21, 'Taare Zameen Par', 'Aamir Khan')
(22, 'WALLÂ·E', 'Andrew Stanton')
(23, 'The Lives of Others', 'Florian Henckel von Donnersmarck')
(24, 'Memento', 'Christopher Nolan')
(25, '1917', 'Sam Mendes')
(26, 'Amelie', 'Jean-Pierre Jeunet')
(27, 'Snatch', 'Guy Ritchie')
(28, 'Requiem for a Dream', 'Darren Aronofsky')
(29, 'Green Book', 'Peter Farrelly')
(30, 'Drishyam', 'Nishikant Kamat')
(31, 'Queen', 'Vikas Bahl')
(32, 'Warrior', "Gavin O'Connor")
(33, 'Shutter Island', 'Martin Scorsese')
(34, 'Up', 'Pete Docter')
(35, 'The Wolf of Wall Street', 'Martin Scorsese')
(36, 'Chak De! India', 'Shimit Amin')
(37, 'There Will Be Blood', 'Paul Thomas Anderson')
(38, "Pan's Labyrinth", 'Guillermo del Toro')
(39, 'Toy Story 3', 'Lee Unkrich')
(40, 'V for Vendetta', 'James McTeigue')
(41, 'Rang De Basanti', 'Rakeysh Omprakash Mehra')
(42, 'Black', 'Sanjay Leela Bhansali')
(43, 'Batman Begins', 'Christopher Nolan')
(44, 'Swades: We, the People', 'Ashutosh Gowariker')
(45, 'Der Untergang', 'Oliver Hirschbiegel')
(46, 'Hauru no ugoku shiro', 'Hayao Miyazaki')
(47, 'A Beautiful Mind', 'Ron Howard')
(48, 'Mommy', 'Xavier Dolan')
(49, 'Haider', 'Vishal Bhardwaj')
(50, 'Logan', 'James Mangold')
(51, 'Room', 'Lenny Abrahamson')
(52, 'PK', 'Rajkumar Hirani')
(53, 'OMG: Oh My God!', 'Umesh Shukla')
(54, 'The Grand Budapest Hotel', 'Wes Anderson')
(55, 'Gone Girl', 'David Fincher')
(56, 'Inside Out', 'Pete Docter')
(57, 'Barfi!', 'Anurag Basu')
(58, '12 Years a Slave', 'Steve McQueen')
(59, 'Rush', 'Ron Howard')
(60, 'Ford v Ferrari', 'James Mangold')
(61, 'Spotlight', 'Tom McCarthy')
(62, 'Song of the Sea', 'Tomm Moore')
(63, 'Prisoners', 'Denis Villeneuve')
(64, 'Mad Max: Fury Road', 'George Miller')
(65, 'Gran Torino', 'Clint Eastwood')
(66, 'Harry Potter and the Deathly Hallows: Part 2', 'David Yates')
(67, 'How to Train Your Dragon', 'Dean DeBlois')
(68, 'Into the Wild', 'Sean Penn')
(69, 'No Country for Old Men', 'Ethan Coen')
(70, 'Lage Raho Munna Bhai', 'Rajkumar Hirani')
(71, 'Million Dollar Baby', 'Clint Eastwood')
(72, 'Finding Nemo', 'Andrew Stanton')
(73, 'Catch Me If You Can', 'Steven Spielberg')
(74, 'Monsters, Inc.', 'Pete Docter')
(75, 'Lagaan: Once Upon a Time in India', 'Ashutosh Gowariker')
(76, 'La La Land', 'Damien Chazelle')
(77, 'Lion', 'Garth Davis')
(78, 'The Martian', 'Ridley Scott')
(79, 'Wonder', 'Stephen Chbosky')
(80, 'Gully Boy', 'Zoya Akhtar')
(81, 'Special Chabbis', 'Neeraj Pandey')
(82, 'Short Term 12', 'Destin Daniel Cretton')
(83, 'Serbuan maut 2: Berandal', 'Gareth Evans')
(84, 'Guardians of the Galaxy', 'James Gunn')
(85, 'Blade Runner 2049', 'Denis Villeneuve')
(86, 'Her', 'Spike Jonze')
(87, 'Bohemian Rhapsody', 'Bryan Singer')
(88, 'The Perks of Being a Wallflower', 'Stephen Chbosky')
(89, "The King's Speech", 'Tom Hooper')
(90, 'The Help', 'Tate Taylor')
(91, 'Deadpool', 'Tim Miller')
(92, 'Darbareye Elly', 'Asghar Farhadi')
(93, 'Dev.D', 'Anurag Kashyap')
(94, 'My Name Is Khan', 'Karan Johar')
(95, 'Slumdog Millionaire', 'Danny Boyle')
(96, 'Black Swan', 'Darren Aronofsky')
(97, 'The Avengers', 'Joss Whedon')
(98, 'Persepolis', 'Vincent Paronnaud')
(99, 'The Pursuit of Happyness', 'Gabriele Muccino')
(100, 'Blood Diamond', 'Edward Zwick')
(101, 'Sin City', 'Frank Miller')
(102, 'Le scaphandre et le papillon', 'Julian Schnabel')
(103, 'Ratatouille', 'Brad Bird')
(104, 'Casino Royale', 'Martin Campbell')
(105, 'Pirates of the Caribbean: The Curse of the Black Pearl', 'Gore Verbinski')
(106, 'Big Fish', 'Tim Burton')
(107, 'The Incredibles', 'Brad Bird')
(108, 'Dogville', 'Lars von Trier')
(109, 'Donnie Darko', 'Richard Kelly')
(110, 'Knives Out', 'Rian Johnson')
(111, 'Marriage Story', 'Noah Baumbach')
(112, 'Call Me by Your Name', 'Luca Guadagnino')
(113, 'I, Daniel Blake', 'Ken Loach')
(114, 'Isle of Dogs', 'Wes Anderson')
(115, 'Hunt for the Wilderpeople', 'Taika Waititi')
(116, 'Captain Fantastic', 'Matt Ross')
(117, 'Sing Street', 'John Carney')
(118, 'Thor: Ragnarok', 'Taika Waititi')
(119, 'Nightcrawler', 'Dan Gilroy')
(120, 'Jojo Rabbit', 'Taika Waititi')
(121, 'Arrival', 'Denis Villeneuve')
(122, 'Star Wars: Episode VII - The Force Awakens', 'J.J. Abrams')
(123, 'Before Midnight', 'Richard Linklater')
(124, 'X-Men: Days of Future Past', 'Bryan Singer')
(125, "Bir Zamanlar Anadolu'da", 'Nuri Bilge Ceylan')
(126, 'Edge of Tomorrow', 'Doug Liman')
(127, 'Amour', 'Michael Haneke')
(128, 'The Irishman', 'Martin Scorsese')
(129, 'Moon', 'Duncan Jones')
(130, 'The Wrestler', 'Darren Aronofsky')
(131, 'Jab We Met', 'Imtiaz Ali')
(132, 'Boyhood', 'Richard Linklater')
(133, 'Star Trek', 'J.J. Abrams')
(134, 'In Bruges', 'Martin McDonagh')
(135, 'Letters from Iwo Jima', 'Clint Eastwood')
(136, 'The Fall', 'Tarsem Singh')
(137, 'Life of Pi', 'Ang Lee')
(138, 'Fantastic Mr. Fox', 'Wes Anderson')
(139, 'Iron Man', 'Jon Favreau')
(140, 'Shaun of the Dead', 'Edgar Wright')
(141, 'Mystic River', 'Clint Eastwood')
(142, "No Man's Land", 'Danis Tanovic')
(143, 'Almost Famous', 'Cameron Crowe')
(144, 'Mulholland Dr.', 'David Lynch')
(145, 'Forushande', 'Asghar Farhadi')
(146, 'Hidden Figures', 'Theodore Melfi')
(147, 'Paddington 2', 'Paul King')
(148, 'Kubo and the Two Strings', 'Travis Knight')
(149, 'M.S. Dhoni: The Untold Story', 'Neeraj Pandey')
(150, 'Manchester by the Sea', 'Kenneth Lonergan')
(151, 'Rogue One', 'Gareth Edwards')
(152, 'Captain America: Civil War', 'Anthony Russo')
(153, 'The Hateful Eight', 'Quentin Tarantino')
(154, 'Little Women', 'Greta Gerwig')
(155, 'Loving Vincent', 'Dorota Kobiela')
(156, 'The Lunchbox', 'Ritesh Batra')
(157, 'Vicky Donor', 'Shoojit Sircar')
(158, 'Big Hero 6', 'Don Hall')
(159, 'About Time', 'Richard Curtis')
(160, 'English Vinglish', 'Gauri Shinde')
(161, 'Kaze tachinu', 'Hayao Miyazaki')
(162, 'Toy Story 4', 'Josh Cooley')
(163, 'La migliore offerta', 'Giuseppe Tornatore')
(164, 'Moonrise Kingdom', 'Wes Anderson')
(165, 'How to Train Your Dragon 2', 'Dean DeBlois')
(166, 'The Big Short', 'Adam McKay')
(167, 'The Girl with the Dragon Tattoo', 'David Fincher')
(168, 'Captain Phillips', 'Paul Greengrass')
(169, 'The Hobbit: The Desolation of Smaug', 'Peter Jackson')
(170, 'Das weiÃe Band - Eine deutsche Kindergeschichte', 'Michael Haneke')
(171, 'MÃ¤n som hatar kvinnor', 'Niels Arden Oplev')
(172, 'The Fighter', 'David O. Russell')
(173, 'Taken', 'Pierre Morel')
(174, 'The Boy in the Striped Pyjamas', 'Mark Herman')
(175, 'The Hobbit: An Unexpected Journey', 'Peter Jackson')
(176, 'Atonement', 'Joe Wright')
(177, 'Drive', 'Nicolas Winding Refn')
(178, 'American Gangster', 'Ridley Scott')
(179, 'Avatar', 'James Cameron')
(180, 'Mr. Nobody', 'Jaco Van Dormael')
(181, 'Apocalypto', 'Mel Gibson')
(182, 'Little Miss Sunshine', 'Jonathan Dayton')
(183, 'Hot Fuzz', 'Edgar Wright')
(184, 'The Curious Case of Benjamin Button', 'David Fincher')
(185, 'Pride & Prejudice', 'Joe Wright')
(186, "The World's Fastest Indian", 'Roger Donaldson')
(187, 'Serenity', 'Joss Whedon')
(188, 'Walk the Line', 'James Mangold')
(189, 'The Notebook', 'Nick Cassavetes')
(190, 'Diarios de motocicleta', 'Walter Salles')
(191, 'Lilja 4-ever', 'Lukas Moodysson')
(192, 'Les triplettes de Belleville', 'Sylvain Chomet')
(193, 'The Count of Monte Cristo', 'Kevin Reynolds')
(194, 'Waking Life', 'Richard Linklater')
(195, 'Remember the Titans', 'Boaz Yakin')
(196, 'Wo hu cang long', 'Ang Lee')
(197, 'Shrek', 'Andrew Adamson')
(198, "God's Own Country", 'Francis Lee')
(199, 'Deadpool 2', 'David Leitch')
(200, 'Wind River', 'Taylor Sheridan')
(201, 'Get Out', 'Jordan Peele')
(202, 'Mission: Impossible - Fallout', 'Christopher McQuarrie')
(203, 'En man som heter Ove', 'Hannes Holm')
(204, 'What We Do in the Shadows', 'Jemaine Clement')
(205, 'The Theory of Everything', 'James Marsh')
(206, 'Kingsman: The Secret Service', 'Matthew Vaughn')
(207, 'The Fault in Our Stars', 'Josh Boone')
(208, 'Me and Earl and the Dying Girl', 'Alfonso Gomez-Rejon')
(209, 'The Broken Circle Breakdown', 'Felix van Groeningen')
(210, 'Captain America: The Winter Soldier', 'Anthony Russo')
(211, 'Rockstar', 'Imtiaz Ali')
(212, 'Nebraska', 'Alexander Payne')
(213, 'Wreck-It Ralph', 'Rich Moore')
(214, 'Le Petit Prince', 'Mark Osborne')
(215, 'Detachment', 'Tony Kaye')
(216, 'Midnight in Paris', 'Woody Allen')
(217, 'The Lego Movie', 'Christopher Miller')
(218, 'Star Trek Into Darkness', 'J.J. Abrams')
(219, 'Beasts of No Nation', 'Cary Joji Fukunaga')
(220, 'The Social Network', 'David Fincher')
(221, 'X: First Class', 'Matthew Vaughn')
(222, 'The Hangover', 'Todd Phillips')
(223, 'Skyfall', 'Sam Mendes')
(224, 'Silver Linings Playbook', 'David O. Russell')
(225, 'Argo', 'Ben Affleck')
(226, '(500) Days of Summer', 'Marc Webb')
(227, 'Harry Potter and the Deathly Hallows: Part 1', 'David Yates')
(228, 'Gake no ue no Ponyo', 'Hayao Miyazaki')
(229, 'Frost/Nixon', 'Ron Howard')
(230, 'Changeling', 'Clint Eastwood')
(231, 'Flipped', 'Rob Reiner')
(232, 'This Is England', 'Shane Meadows')
(233, 'Ex Machina', 'Alex Garland')
(234, 'Efter brylluppet', 'Susanne Bier')
(235, 'The Last King of Scotland', 'Kevin Macdonald')
(236, 'Zodiac', 'David Fincher')
(237, 'Lost in Translation', 'Sofia Coppola')
(238, 'Harry Potter and the Goblet of Fire', 'Mike Newell')
(239, 'Man on Fire', 'Tony Scott')
(240, 'Coraline', 'Henry Selick')
(241, 'The Last Samurai', 'Edward Zwick')
(242, 'The Magdalene Sisters', 'Peter Mullan')
(243, 'In America', 'Jim Sheridan')
(244, 'I Am Sam', 'Jessie Nelson')
(245, 'Adaptation.', 'Spike Jonze')
(246, 'Black Hawk Down', 'Ridley Scott')
(247, 'Road to Perdition', 'Sam Mendes')
(248, 'Das Experiment', 'Oliver Hirschbiegel')
(249, 'Billy Elliot', 'Stephen Daldry')
(250, 'Hedwig and the Angry Inch', 'John Cameron Mitchell')
(251, "Ocean's Eleven", 'Steven Soderbergh')
(252, 'Vampire Hunter D: Bloodlust', 'Yoshiaki Kawajiri')
(253, 'O Brother, Where Art Thou?', 'Joel Coen')
(254, 'Training Day', 'Antoine Fuqua')
(255, 'Searching', 'Aneesh Chaganty')
(256, 'Once Upon a Time... in Hollywood', 'Quentin Tarantino')
(257, 'The Florida Project', 'Sean Baker')
(258, 'Gifted', 'Marc Webb')
(259, 'The Peanut Butter Falcon', 'Tyler Nilson')
(260, 'Guardians of the Galaxy Vol. 2', 'James Gunn')
(261, 'Baby Driver', 'Edgar Wright')
(262, 'Only the Brave', 'Joseph Kosinski')
(263, 'Bridge of Spies', 'Steven Spielberg')
(264, 'Incredibles 2', 'Brad Bird')
(265, 'Moana', 'Ron Clements')
(266, 'Hell or High Water', 'David Mackenzie')
(267, 'Philomena', 'Stephen Frears')
(268, 'Dawn of the Planet of the Apes', 'Matt Reeves')
(269, 'A Star Is Born', 'Bradley Cooper')
(270, 'Despicable Me', 'Pierre Coffin')
(271, '50/50', 'Jonathan Levine')
(272, 'Sherlock Holmes', 'Guy Ritchie')
(273, 'The Blind Side', 'John Lee Hancock')
(274, 'The Visitor', 'Tom McCarthy')
(275, 'Seven Pounds', 'Gabriele Muccino')
(276, 'Eastern Promises', 'David Cronenberg')
(277, 'Stardust', 'Matthew Vaughn')
(278, 'The Secret of Kells', 'Tomm Moore')
(279, 'Inside Man', 'Spike Lee')
(280, 'Gone Baby Gone', 'Ben Affleck')
(281, 'La Vie En Rose', 'Olivier Dahan')
(282, 'Huo Yuan Jia', 'Ronny Yu')
(283, 'The Illusionist', 'Neil Burger')
(284, "Dead Man's Shoes", 'Shane Meadows')
(285, 'Harry Potter and the Half-Blood Prince', 'David Yates')
(286, '300', 'Zack Snyder')
(287, 'Match Point', 'Woody Allen')
(288, 'Watchmen', 'Zack Snyder')
(289, 'Lord of War', 'Andrew Niccol')
(290, 'Saw', 'James Wan')
(291, 'Synecdoche, New York', 'Charlie Kaufman')
(292, 'Mysterious Skin', 'Gregg Araki')
(293, 'The Station Agent', 'Tom McCarthy')
(294, 'Finding Neverland', 'Marc Forster')
(295, '25th Hour', 'Spike Lee')
(296, 'The Butterfly Effect', 'Eric Bress')
(297, '28 Days Later...', 'Danny Boyle')
(298, 'The Royal Tenenbaums', 'Wes Anderson')
(299, 'Enemy at the Gates', 'Jean-Jacques Annaud')
(300, 'Minority Report', 'Steven Spielberg')
(301, 'American Psycho', 'Mary Harron')
(302, 'The Imitation Game', 'Morten Tyldum')

## Update a data row in the table

In [7]:
cursor.execute("UPDATE [dbo].[movies] "
    "SET genre = ? "
    "WHERE movie_title = ?", 
    ("Biography", "The Theory of Everything"))

print("Updated",cursor.rowcount,"row(s) of data.")

Updated 1 row(s) of data.

In [8]:
# Read data
cursor.execute("SELECT "
    "movie_id, movie_title, genre "
    "FROM [dbo].[movies] "
    "WHERE movie_title = ?",
    ("The Theory of Everything", ))
rows = cursor.fetchall()
print(rows[0])

(205, 'The Theory of Everything', 'Biography')

## Delete data

In [9]:
cursor.execute("DELETE FROM [dbo].[movies] "
    "WHERE genre = ?", 
    ("Horror", ))
print("Deleted",cursor.rowcount,"row(s) of data.")

Deleted 2 row(s) of data.

## Order data

In [10]:
# Read data
cursor.execute("SELECT movie_title, released_year, genre, gross "
    "FROM [dbo].[movies] "
    "WHERE genre = ? AND released_year BETWEEN ? AND ? "
    "ORDER BY released_year ASC, gross DESC",
    ("Action", 2009, 2019))
rows = cursor.fetchall()

# Print data
for row in rows:
    print(row)

('Avatar', 2009, 'Action', 760507625)
('Harry Potter and the Half-Blood Prince', 2009, 'Action', 301959197)
('Star Trek', 2009, 'Action', 257730019)
('Sherlock Holmes', 2009, 'Action', 209028679)
('Watchmen', 2009, 'Action', 107509799)
('Inception', 2010, 'Action', 292576195)
('X: First Class', 2011, 'Action', 146408305)
('Warrior', 2011, 'Action', 13657115)
('The Avengers', 2012, 'Action', 623279547)
('The Dark Knight Rises', 2012, 'Action', 448139099)
('Skyfall', 2012, 'Action', 304360277)
('Star Trek Into Darkness', 2013, 'Action', 228778661)
('Rush', 2013, 'Action', 26947624)
('Guardians of the Galaxy', 2014, 'Action', 333176600)
('Captain America: The Winter Soldier', 2014, 'Action', 259766572)
('X-Men: Days of Future Past', 2014, 'Action', 233921534)
('Dawn of the Planet of the Apes', 2014, 'Action', 208545589)
('Kingsman: The Secret Service', 2014, 'Action', 128261724)
('Edge of Tomorrow', 2014, 'Action', 100206256)
('Serbuan maut 2: Berandal', 2014, 'Action', 2625803)
('Haider', 2014, 'Action', 90161)
('Star Wars: Episode VII - The Force Awakens', 2015, 'Action', 936662225)
('Mad Max: Fury Road', 2015, 'Action', 154058340)
('Rogue One', 2016, 'Action', 532177324)
('Captain America: Civil War', 2016, 'Action', 408084349)
('Deadpool', 2016, 'Action', 363070709)
('Hell or High Water', 2016, 'Action', 26862450)
('Guardians of the Galaxy Vol. 2', 2017, 'Action', 389813101)
('Thor: Ragnarok', 2017, 'Action', 315058289)
('Logan', 2017, 'Action', 226277068)
('Baby Driver', 2017, 'Action', 107825862)
('Blade Runner 2049', 2017, 'Action', 92054159)
('Only the Brave', 2017, 'Action', 18340051)
('Avengers: Infinity War', 2018, 'Action', 678815482)
('Deadpool 2', 2018, 'Action', 324591735)
('Mission: Impossible - Fallout', 2018, 'Action', 220159104)
('Avengers: Endgame', 2019, 'Action', 858373000)
('Ford v Ferrari', 2019, 'Action', 117624028)

## Use the *MAX()* function

In [11]:
# Read data
cursor.execute("SELECT MAX(gross) "
    "FROM [dbo].[movies] "
    "WHERE director = ? ",
    ("Martin Scorsese", ))
rows = cursor.fetchall()

# Print data
print(rows[0])

(132384315,)

## Close the connection

In [12]:
conn.commit()
cursor.close()
conn.close()